.card-cus {
  background-color: rgba(0, 44, 13, .06);
}

.line {
  text-align: left; 
  border-left: solid 0.1em #FFC417; 
  padding: 2px 0 2px 10px; 
  margin: 10px 0;
  color: #002C0D;
}

section.posi-title {
  margin-top: 3.5em;
}

.positions {
  text-align: left; 
  border-left: solid 0.1em #FFC417; 
  padding: 2px 0 2px 10px; 
  margin: 10px 0;
  color: #002C0D;
}

.sub_title {
  color: #295938;
}

.cont-link, .text {
  font-size: .9em;
  color: #002C0D;
  margin-left: 10px;
}

.cont-link:hover {
  font-size: .9em;
  color: #002C0D;
}